

{{#author}}     
    {{#if image}}
        <div class="container">
            <figure class="author-image">
                <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
            </figure>
        </div>
    {{/if}}

    <div class="row">
        <section class="panel col-md-8">
            <h4><a href="{{url}}">{{name}}</a></h4>
            {{#if bio}}
              <p>{{bio}}</p>
            {{else}}
              <p>Read <a href="{{url}}">more posts</a> by this author.</p>
            {{/if}}
            <div class="author-meta">
                {{#if location}}<span class="author-location icon-location">{{location}}
                    </span>
                {{/if}}
                {{#if website}}
                  <span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>
                {{/if}}
            </div>
        </section>
    </div>
{{/author}}
