


<div id="features">
{{#get "posts" filter="featured:true+page:true" as |features|}}
    {{#foreach features as |feature|}}
          <hr class="featurette-divider">
      
          <div class="row featurette">
            <div class="col-md-7  {{#if @even}}col-md-push-5{{/if}}">
              <h2 class="featurette-heading">{{feature.title}} </h2>
              <h3><span class="text-muted">{{feature.meta_title}}</span></h3>
              <p class="lead">{{feature.meta_description}} <a href="{{url}}"> (more...)</a></p>
            </div>
            <div class="col-md-5 {{#if @even}}col-md-pull-7{{/if}}">
              <img class="featurette-image img-responsive center-block" src="{{image}}" 
              alt="{{title}}" height="300">
            </div>
          </div>
    {{/foreach}}
{{/get}}
</div>