


<div class="row">
{{#foreach posts columns=3}}
       <div class="col-lg-4">
           {{#if image}}
            <img class="center-block img-rounded img-responsive" src="{{image}}" alt="{{meta_title}}" 
                 width="300" height="100">
           {{else}}
            <img class="center-block img-rounded img-responsive" src="{{@blog.cover}}" alt="{{meta_title}}" 
                 width="300" height="100">
           {{/if}}
            <h2>{{{title}}}</h2>
            <p>{{excerpt words="26"}}</p>
            <p><a class="btn btn-default" href="{{url}}" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    
    {{#if @rowEnd}}
        </div>
        <div class="row">
    {{/if}}

{{/foreach}}
</div>
    
{{! Previous/next page links - displayed on every page }}
{{pagination}}
