{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}


{{! The main content area on the homepage }}
<div class="container-fluid">
<!-- Image -->
<header class="row">
{{#if @blog.cover}}
    <img class="center-block img-responsive image-header" 
            src="{{@blog.cover}}" alt="{{title}}" >

{{/if}}
</header>

<section class="blog-main row" >
    <section class="col-md-8 blog-articles">  
        {{#foreach posts}}
            <article>
                <header>
                    {{#if image}}
                    <img class="media-object img-rounded img-responsive" 
                            width="200" height="200"
                            src="{{image}}" alt="{{meta_title}}">
                    {{else}}
                    <img class="media-object img-rounded img-responsive"
                            width="200" height="200"
                            src="{{@blog.logo}}" alt="{{meta_title}}">
                    {{/if}}
                    <h2 class="media-heading">{{{title}}}</h2>
                    <p class="byline">
                    Posted by {{author}} 
                    on {{date updated_at format="DD MMMM YYYY"}}</p>
                </header>
                <section>
                    {{excerpt words="200"}} ... 
                    <a class="btn btn-default" href="{{url}}">View details &raquo;</a>
                </section>
                <footer class="text-center">
                    {{#if tags}}                 
                    {{#foreach tags}}
                        <a href="{{url}}" title="{{name}}" 
                        class="btn btn-info btn-sm tag">{{name}}</a>
                    {{/foreach}}
                {{/if}}
                </footer>
            </article>
        {{/foreach}}
    </section>

    <aside class="col-md-4 blog-aside hidden-xs hidden-sm">
        <section>
            {{> "sidebar"}}
        </section>
        <section>
            {{> "featured"}}
        </section>
        <section>
            {{> "tags"}}
        </section>
        <section>
            {{> "authors"}}
        </section>
    </aside>
</section>

<footer class="row">
    {{! Previous/next page links - displayed on every page }}
    {{pagination}}
</footer>
</div>
