{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{#get "users" limit="all" }}
<section id="author-images">
    <div class="row">
        {{#foreach users}}
        <div class="col-sm-2">
            <img class="" src="{{image}}" alt="{{name}}" style="max-width:140px;height=200px">
        </div>
        {{/foreach}}
    </div>
    <div class="row">
        {{#foreach users}}
        <div class="col-sm-2">
            <h5 class="text-center"><a href="{{url}}">{{name}}</a></h5>
        </div>
        {{/foreach}}
    </div>
</section>
{{/get}}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
{{! The main content area on the homepage }}

<div class="container marketing {{post_class}}">
    {{! The big featured header }}
    <div class="post-content row">
        {{content}}
    </div>
</div>
{{/post}}
