{{!< default}}
{{! The comment above "< default" means - insert everything in this file into the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
{{! The main content area on the homepage }}

<div class="container marketing {{post_class}}">
    {{! The big featured header }}
    
    <!-- Image -->
    {{#if image}}
        <div class="image-header">
            <img class="center-block" src="{{image}}" alt="{{title}}" height="100%">
        </div>
    {{/if}}
    
    <div class="row">
        <h2 class="post-title">{{title}}</h2>
        <div class="post-meta"><time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> {{tags prefix=" on "}}</div>
    </div>
    
    <div class="post-content row">
        {{content}}
    </div>
    
    <div class="post-footer container">
        {{!> author}}
        {{#author}}     
            {{#if image}}
                <div class="container">
                    <figure class="author-image">
                        <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
                    </figure>
                </div>
            {{/if}}      
            <section class="col-md-8">
                <h4><a href="{{url}}">{{name}}</a></h4> {{#if bio}}
                <p>{{bio}}</p>
                {{else}}
                <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                {{/if}}
                <div class="author-meta">
                    {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}} {{#if website}}
                    <span
                    class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
                </div>
            </section>
        {{/author}}
        
        <section class="col-md-4">
            <h4>Share this post</h4>
            <p>
                <a href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute=" true "}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <i class="large glyphicon glyphicon-share"></i>
                    <span class="hidden">Twitter</span>
                </a>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute=" true "}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <i class="glyphicon glyphicon-share-alt"></i>
                    <span class="hidden">Facebook</span>
                </a>
                <a href="https://plus.google.com/share?url={{url absolute=" true "}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <i class="glyphicon glyphicon-fire"></i>
                    <span class="hidden">Google+</span>
                </a>
            </p>
        </section>
    </div>

    <div class="post-footer panel">
        {{> comments}}
    </div>
</div>
{{/post}}
