{{!< default}}
{{! The comment above "< default" means - insert everything in this file into the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
{{! The main content area on the homepage }}

<article class="container-fluid marketing {{post_class}}">
    {{! The big featured header }}
    
    <header class="post-header row ">
        <div class="post_header image-header"{{#if image}} 
            style="background-image: url({{image}})"{{/if}}>
       </div>
    </header>
    
    <div class="blog-main row">
        <section class="col-md-8 blog-articles">
            <div class="text-center">
            <h2 class="post-title">{{title}}</h2>
            <div class="post-meta">
                Written by {{author.name}} on
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time><br>
                {{tags}}
            </div>
            {{> share}}
            <br />
            </div>
            {{content}}
        </section>

        <aside class="col-md-4 blog-aside hidden-xs hidden-sm">
            <section>
                {{> "sidebar"}}
            </section>
            <section>
                {{> "featured"}}
            </section>
            <section>
                {{> "tags"}}
            </section>
            <section>
                {{> "authors"}}
            </section>
        </aside>

    </div>
    
    <div class="post-share row">
        <div class="col-xs-12 text-center">
            <h4>Share this post</h4>
            {{> share}}
        </div>
    </div>

    <div class="post-footer row">
        {{!> author}}
        {{#author}}
            <div class="col-md-4">
                {{#if image}}
                <figure class="author-image">
                    <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
                </figure>
                {{/if}}  
            </div>   
            <section class="col-md-8 pull-right">
                <h4><a href="{{url}}">{{name}}</a></h4> {{#if bio}}
                <p>{{bio}}</p>
                {{else}}
                <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                {{/if}}
                <div class="author-meta">
                    {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}} {{#if website}}
                    <span
                    class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
                </div>
            </section>
        {{/author}}    
    </div>

    <div class="post-footer panel">
        {{> comments}}
    </div>
</article>

</aside>
<div id="readNext" class="container-fluid" >
    <div class="row">
    <div class="col-xs-offset-1 col-xs-4 text-right">
        <h3>Next Post</h3>
        <p>
        {{#next_post}}
            <a href="{{url}}"><h4>{{title}}</h4></a>
        {{else}}
            <a><h4>This is already the newest post!</h4></a>
        {{/next_post}}
        </>
    </div>
    <div class="col-xs-2">
    </div>
    <div class="col-xs-4">
        <h3>Prev Post</h3>
        <p>
        {{#prev_post}}
            <a href="{{url}}"><h4>{{title}}</h4></a>
        {{else}}
            <a><h4>No more prev posts!</h4></a>
        {{/prev_post}}
        </p>
    </div>
    </div>
</aside>
{{/post}}
